body {
  margin: 0;
  padding: 0;
}
.homeContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 0.5fr;
}

.header {
  width: 100vw;
  border: 1px solid black;
}

.mainBody {
  width: 100vw;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.textContainer {
  border: 1px solid black;
}

.textContainer {
  padding: 20px;
  max-height: 80vw;
  overflow: scroll;
  min-width: 50vw;
}

.text {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.media {
  display: none;
  max-width: 15vw;
  position: absolute;
  margin-top: -30vw;
}

#erin {
  margin-left: 80px;
}

.gallery {
  position: absolute;
}
